:root{
  --black-bg: hsl(225 11.1% 7.1%);
  
  --white: hsl(0 0% 94.9%);
  --gray: hsl(0 0% 85.1%);
  
  --black: hsl(225 12.1% 12.9%);
  --light-black: hsl(228 10.9% 18%);

  --blue: hsl(221 100% 49.6%);
  --light-blue: hsl(204 100% 49.6%);
  --purple: hsl(259 100% 49.6%);

}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Noto Sans", sans-serif;
}

h3{
  font-size: 32px;
}